<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>

    <div class="jumbotron">
        <h2>Some weird error happened. Kindly reload the website again. Sorry for inconvenience! :( </h2>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>